@media (width >= 1015px) {
    .mainBanner {
        grid-row: 1; 
        max-height: 200px;
        position: sticky;
        top: 110px;
    }
    
}


.mainBanner {
    display: grid;
    grid-template-rows: 70px 70px;
    margin: var(--margin);
    padding: var(--padding);
    border: var(--border-size) solid #000000;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    text-align: left;
    background-color: #000000;
    color: #FFFFFF;
}

.mainBanner h3 {
    font-weight: 200;
}

.mainBanner-socialLinks {
    width: 115px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.mainBanner-socialLinks svg{
    width: 25px;
    cursor: pointer;
    color: #FFFFFF;
}

.mainBanner-socialLinks svg:hover {
    opacity: .8;
}

.mainBanner h1 {
    font-size: 50px;
}

