@media (width >= 1015px) {
    .experience h1{
        display: none;
    }

    .experience-content h5{
        opacity: 0.6;
    }
}

@media (width >= 640px) {
    .experience-content-description{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

.experience {
    margin: var(--margin);
    padding: var(--padding-others-boxs);
    text-align: left;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

.experience-content {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 50px;
}

.experience-content div {
    padding: 0;
}

.experience-content-experience-tecnologies {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, 100px);
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.experience-content-experience-tecnologies div {
    display: grid;
    border: 1px solid #FFFFFF;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 5px 10px;
}

.experience-content-experience-tecnologies div p{
    padding: 0;
    margin: 0;
}

.experience-content p {
    font-weight: 200;
}

.experience-content-details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.experience-content-details img {
    margin-bottom: 0;
}

.experience-content-details-title {
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    width: auto;
}

.experience-content-details-title-svg {
    width: 20px;
}
 
.experience-content-details-title-svg:hover {
    cursor: pointer;
}



.experience-content-sticky-title {
    position: sticky;
    top: 0;
}