.projects {
    margin: var(--margin);
    padding: var(--padding-others-boxs);
    text-align: left;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

.projects-content {
    display: grid;
    grid-template-columns: auto;
}


.projects-content-projects-tecnologies {
    display: flex;
    grid-auto-columns: min-content;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.projects-content-projects-tecnologies div {
    display: grid;
    border: 1px solid #FFFFFF;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px 10px;
}

.projects-content-projects-tecnologies div p{
    padding: 0;
    margin: 0;
}

.projects-content-img {
    margin-top: 30px;
    max-width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(255,255,255,1);
    border-radius: var(--radius);
    justify-self: center;
}

.projects-content p {
    font-weight: 200;
}

@media (width <= 1008px) {
    .projects-content-img {
        max-width: 350px;
    }
}

.projects-content-conteiner-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.projects-content-conteiner-title .projects-content-links:hover {
    cursor: pointer;
    opacity: .8;
}

.projects-content-conteiner-title-links {
    width: 20px;
    stroke: #FFFFFF;
}

.projects-content-conteiner-title-links:hover {
    stroke: #F1F1F1;
}