@media (width >= 1015px) {
    .App {
        display: grid;
        grid-template-columns: 40% 50%;
        column-gap: 150px;
        grid-template-rows: auto auto;
        grid-auto-rows: none;
        height: 100%;
        padding: 50px 125px;
        margin-top: 50px;
    }

}